@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
body {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.header-elements {
  display: flex;
  justify-content: space-between;
  padding: 5px 16px;
  border: 3px solid hsl(217, 16%, 45%);
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 40px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 2, 2, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.close-image {
  display: block;
  margin: 0 auto;
}
.close-btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(216, 159, 14);
}
.rules,
.rules-paper {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.scores {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: white;
  width: 130px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
}
.log {
  margin-bottom: 10px;
}
.score-text {
  margin-top: 20px;
  font-size: 20px;
  font-family: Heebo, sans-serif;
  color: hsl(229, 64%, 46%);
}
.score-number {
  font-size: 40px;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
}
.rules {
  font-family: "Barlow Semi Condensed", sans-serif;
  border-radius: 9px;
  color: white;
  padding: 12px 50px;
  background: rgb(28, 28, 76);
  border: 1px solid beige;
  margin-bottom: 30px;
  margin-right: 20px;
}

@media screen and (max-width: 559px) {
  .rules {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .scores {
    display: flex;
    justify-content: space-between;
  }

  .log {
    margin-top: 20px;
  }
}
