@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
body {
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
}
.triangle {
  position: relative;
  z-index: -5; /* Lower z-index value */
  margin-top: 20px;
  display: block;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
.rule-header {
  display: flex;
  justify-content: space-between;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.circles {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.rocks {
  height: 100px;
  width: 100px;
  border: 20px solid hsl(349, 71%, 52%);
  background-origin: padding-box;
  border-radius: 100%;
  background-color: white;
  margin-top: 80px;
}
.rock {
  height: 100px;
  width: 100px;
  border: 20px solid hsl(349, 71%, 52%);
  background-origin: padding-box;
  border-radius: 100%;
  background-color: white;
  margin-top: 70px;
}
.notification {
  font-size: 30px;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.notifications {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
}
.game-btn {
  padding: 10px 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-top: 5px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid white;
}
.winner {
  margin-top: 110px;
}
.results {
  display: flex;
  justify-content: space-around;
}
.winner-smallscreen {
  display: none;
}
.scissors {
  height: 100px;
  width: 100px;
  border: 20px solid hsl(39, 89%, 49%);
  background-origin: padding-box;
  border-radius: 100%;
  background-color: white;
  margin-top: 70px;
}
.scissor {
  height: 100px;
  width: 100px;
  border: 20px solid hsl(39, 89%, 49%);
  background-origin: padding-box;
  border-radius: 100%;
  background-color: white;
  margin-left: 90px;
  margin-top: 70px;
}
.paper {
  height: 100px;
  width: 100px;
  border: 20px solid hsl(230, 89%, 62%);
  background-origin: padding-box;
  border-radius: 100%;
  background-color: white;
  margin-top: 70px;
}
.winner-animation {
  animation: winnerAnimation 0.6s ease-in backwards;
}

@keyframes winnerAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 559px) {
  .circles {
    margin-right: 50px;
    display: flex;
    justify-content: center;
  }
  .triangle {
    margin-bottom: 5px;
    width: 260px;
  }

  .notification {
    font-size: 30px;
    color: white;
  }
  .scissor,
  .rocks,
  .paper,
  .scissors,
  .rock {
    width: 70px;
    height: 70px;
  }
  img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  .game-btn {
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 80px;
    display: block;
    margin: 0 auto;
  }
  .results {
    display: flex;
    justify-content: space-around;
  }

  .notifications {
    font-size: 13px;
    text-align: center;
  }
  .winner {
    display: none;
  }
  .winner-smallscreen {
    display: block;
  }
}
