body {
  background: hsl(237, 48%, 25%);
  font-family: Heebo, sans-serif;
}
.triangle {
  position: relative;
  z-index: -5; /* Lower z-index value */
  margin-top: 20px;
  display: block;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  color: white;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.circles {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.rock {
  height: 100px;
  width: 100px;
  border: 20px solid hsl(349, 71%, 52%);
  background-origin: padding-box;
  border-radius: 100%;
  background-color: white;
  margin-top: 80px;
}
.scissor {
  height: 100px;
  width: 100px;
  border: 20px solid hsl(39, 89%, 49%);
  background-origin: padding-box;
  border-radius: 100%;
  background-color: white;
  margin-left: 90px;
  margin-top: 70px;
}
.paper {
  height: 100px;
  width: 100px;
  border: 20px solid hsl(230, 89%, 62%);
  background-origin: padding-box;
  border-radius: 100%;
  background-color: white;
  margin-top: 70px;
}
